<header class="task-header">
    <a routerLink="/"><i class="fas fa-home fa-2x"></i></a>
    <h1>Tasks</h1>
    <i class="far fa-money-bill-alt fa-2x"></i>
</header>
<p *ngIf="this.errorMessage!==''">{{errorMessage}}</p>
<div class="create-task">
    <button (click)="createTask()">Create new Task</button>
    <div class="new-task" *ngIf="!this.hideCreateBlock">
        <div><label for="name">Enter name</label>
        <input type="text" id="name"></div>

        <div><label for="description">Enter description</label>
        <input type="text" id="description"></div>

        <div><label for="finished-at">Enter when finished at</label>
        <input type="date" id="finished-at">
        <p class="error-message" *ngIf="this.errorFinishedAtMessage !=='-1'">{{errorFinishedAtMessage}}</p></div>
        
        <div><label for="perfomer-id">Enter performer name</label>
        <input type="text" id="perfomer-id">
        <p class="error-message" *ngIf="this.errorUserMessage !=='-1'">{{errorUserMessage}}</p></div>

        <div><label for="project-id">Enter project</label>
        <input type="text" id="project-id">
        <p class="error-message" *ngIf="this.errorProjectMessage !=='-1'">{{errorProjectMessage}}</p></div>

        <div><label for="state">Enter task state</label>
            <input type="number" id="state">
            <p class="error-message" *ngIf="this.errorStateMessage !=='-1'">{{errorStateMessage}}</p></div>        
        <div>
            <button class="ready-button" (click)="sendCreatedTask()">Ready</button>
        </div>
    </div>
</div>
<div class="task-content-wrapper">
    <div *ngFor = "let task of tasks">
       <app-task (isSavedData)="addData($event)" [task]="task"></app-task>
    </div>
</div>

