<div class="main-page-wrapper">
    <div class="header">
      <h1>Main page</h1>
    </div>
    <div class="content">
      <h2>
        Go to...
      </h2>
      <div class="content-list">
        <ul>
          <li><a [routerLink]="this.routerLink"><button (click)="goToProjects()"> Projects</button></a></li>
          <li><a [routerLink]="this.routerLink"><button (click)="goToTasks()">Tasks</button></a></li>
          <li><a [routerLink]="this.routerLink"><button (click)="goToUsers()">Users</button></a></li>
          <li><a [routerLink]="this.routerLink"><button (click)="goToTeams()">Teams</button></a></li>
        </ul>
      </div>
    </div>
  </div>