.header{
    width: 100%;
    text-align:center;
    color:rgb(0, 4, 255);
}

.content  h2{
    color: rgb(0, 88, 0);
    text-align: center;
    margin-top: 100px;
}

.content-list{
    display: table;
    margin: 0 auto;
}

.content-list button{
    font-size:large;
    border: none;
    background: none;
    color:rgb(3, 112, 103);
}

.content-list button:hover{
    border-bottom: 2px solid rgb(0, 43, 160);
    cursor:pointer;
    background-color: rgb(143, 212, 224);
    border-radius: 3px;
}