.project-header h1{
    text-align: center;
    font-family:  Lucida Console, Courier, monospace;
    color:rgb(169, 156, 241);
}

.project-header a i{
    color:rgb(224, 156, 241);
    padding:8px;
}

.project-header > i{
    padding:8px;
    color:rgb(185, 174, 235);
}

.project-header{
    width:100%;
    display:flex;
    justify-content:space-between;
}

.create-project{
    text-align: center;
}

.create-project button{
    margin-bottom: 15px;
    background-color: rgb(189, 189, 228);
    border-radius: 5px;
    border: 1px solid blue;
    color:rgb(250, 116, 7);
    font-family: Verdana;
}

.create-project button:hover{
    background-color: rgb(164, 164, 214);
    cursor: pointer;
}

.new-project{
    color:rgb(78, 97, 45);
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.new-project input{
    background: none;
    border:none;
    border-bottom: 2px solid;    
    margin-bottom:30px;
}

.error-message{
    font-size: smaller;
    color: red;
    margin-top: -20px;
}

.new-project-description{
    width:280px;
    overflow: hidden;
}

.ready-button{
    height: 30px;
    width: 60px;
}

.project-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}


