<header class="project-header">
    <a routerLink="/"><i class="fas fa-home fa-2x"></i></a>
    <h1>Projects</h1>
    <i class="far fa-money-bill-alt fa-2x"></i>
</header>
<p *ngIf="this.errorMessage!==''">{{errorMessage}}</p>
<div class="create-project">
    <button (click)="createProject()">Create new Project</button>
    <div class="new-project" *ngIf="!this.hideCreateBlock">
        <div><label for="name">Enter name</label>
        <input type="text" id="name"></div>
        <div><label for="description">Enter description</label>
        <input type="text" id="description"></div>
        <div><label for="deadline">Enter deadline</label>
        <input type="date" id="deadline">
        <p class="error-message" *ngIf="this.errorDeadlineMessage !=='-1'">{{errorDeadlineMessage}}</p></div>
        <div><label for="author">Enter author name</label>
        <input type="text" id="author">
        <p class="error-message" *ngIf="this.errorUserMessage !=='-1'">{{errorUserMessage}}</p></div>
        <div><label for="team">Enter team</label>
        <input type="text" id="team">
        <p class="error-message" *ngIf="this.errorTeamMessage !=='-1'">{{errorTeamMessage}}</p></div>
        <div><button class="ready-button" (click)="sendCreatedProject()">Ready</button></div>
    </div>
</div>
<div class="project-content-wrapper">
    <div *ngFor = "let project of projects">
       <app-project (isSavedData)="addData($event)" [project]="project"></app-project>
    </div>
</div>
