<header class="user-header">
    <a routerLink="/"><i class="fas fa-home fa-2x"></i></a>
    <h1>Users</h1>
    <i class="far fa-money-bill-alt fa-2x"></i>
</header>
<p *ngIf="this.errorMessage!==''">{{errorMessage}}</p>
<div class="create-user">
    <button (click)="createUser()">Create new User</button>
    <div class="new-user" *ngIf="!this.hideCreateBlock">
        <div><label for="first-name">Enter first name</label>
        <input type="text" id="first-name">
        <p class="error-message" *ngIf="this.errorFirstNameMessage!=='-1'">{{errorFirstNameMessage}}</p></div>

        <div><label for="last-name">Enter last name</label>
        <input type="text" id="last-name"></div>

        <div><label for="email">Enter email</label>
        <input type="email" id="email">
        <p class="error-message" *ngIf="this.errorEmailMessage !=='-1'">{{errorEmailMessage}}</p></div>

        <div><label for="birthDay">Enter birthday</label>
        <input type="date" id="birthDay"></div>

        <div><label for="team">Enter team</label>
        <input type="text" id="team">
        <p class="error-message" *ngIf="this.errorTeamMessage !=='-1'">{{errorTeamMessage}}</p></div>

        <div><button class="ready-button" (click)="sendCreatedUser()">Ready</button></div>
    </div>
</div>
<div class="user-content-wrapper">
    <div *ngFor = "let user of users">
       <app-user (isSavedData)="addData($event)" [user]="user"></app-user>
    </div>
</div>

