.user-details span{
    display: block;
    max-width: 250px;
    word-wrap: break-word;
}

.user-content button{
    background:paleturquoise;
    border-radius: 4px;
    border: 1px solid;
}

.user-content button:hover{
    background:rgb(127, 202, 202);
    cursor: pointer;
}

.user-content h3{
    text-align: center;
    color:rgb(202, 140, 140);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-content {
    width:260px;
    height: 300px;
    margin:10px;
    overflow-y:auto;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 4px;
    padding: 6px;
    font-family: monospace;
    color:rgb(37, 105, 85);
}

.edit-user input{
    border:none;
    background :none;
    border-bottom: 2px solid rgb(228, 185, 105);
}

.edit-user div{
    color: rgb(171, 171, 250);
    margin-top: 15px;
}

.ready-edit-button{
    margin: 10px;
}