<div class="user-content">
    <h3>{{user.firstName}}</h3>
    <div class="user-details">
        <span>last name(if have):{{user?.lastName}}</span><hr>
        <p>Registered at:{{user.registeredAt! | ukraineDate}}</p>
        <p>birthday:{{user?.birthDay! | ukraineDate}}</p>
        <p>Email:{{user?.email}}</p>
        <p>Team:{{this.team}}</p>
    </div>
    <button (click)="editUser()">Edit user</button>
    <div class="edit-user" *ngIf="!this.hideEditBlock">
        <div><label for="update-name">Enter new name</label>
        <input type="text" id="update-name"></div>
        <div><label for="update-team">Enter new team</label>
        <input type="text" id="update-team"></div>
        <button class="ready-edit-button" (click)="updateUser()">Update</button>
    </div>
</div>
