<header class="team-header">
    <a routerLink="/"><i class="fas fa-home fa-2x"></i></a>
    <h1>Teams</h1>
    <i class="far fa-money-bill-alt fa-2x"></i>
</header>
<p *ngIf="this.errorMessage!==''">{{errorMessage}}</p>
<div class="create-team">
    <button (click)="createTeam()">Create new Team</button>
    <div class="new-team" *ngIf="!this.hideCreateBlock">
        <div><label for="team-name">Enter name</label>
        <input type="text" id="team-name">
        <p class="error-message" *ngIf="this.errorNameMessage !=='-1'">{{this.errorNameMessage}}</p></div>
        <div><button class="ready-button" (click)="sendCreatedTeam()">Ready</button></div>
    </div>
</div>
<div class="team-content-wrapper">
    <div *ngFor = "let team of teams">
       <app-team (isSavedData)="addData($event)" [team]="team"></app-team>
    </div>
</div>
