<div class="task-content">
    <h3>{{task.name}}</h3>
    <div class="task-details">
        <span>Description:{{task.description}}</span><hr>
        <p>Created at:{{task.createdAt! | ukraineDate}}</p>
        <p>Finished at:{{task.finishedAt! | ukraineDate}}</p>
        <p>Task state:{{task.state!}}</p><div class="dot" [style]="this.style"></div>
        <p>Performer:{{user}}</p>
    </div>
    <button (click)="editTask()">Edit task</button>
    <div class="edit-task" *ngIf="!this.hideEditBlock">
        <div><label for="update-description">Enter new description</label>
        <input type="text" id="update-description"></div>
        <div><label for="update-state">Enter new state</label>
        <input type="number" id="update-state" min="1" max="4"></div>
        <div><label for="update-perfomer">Enter new perfomer name</label>
        <input type="text" id="update-perfomer"></div>
        <button class="ready-edit-button" (click)="updateTask()">Update</button>
    </div>
</div>
