<div class="project-content">
    <h3>{{project.name}}</h3>
    <div class="project-details">
        <span>Description:{{project.description}}</span><hr>
        <p>Created at:{{project.createdAt! | ukraineDate}}</p>
        <p>Deadline:{{project.deadline! | ukraineDate}}</p>
    </div>
    <button (click)="editProject()">Edit project</button>
    <div class="edit-project" *ngIf="!this.hideEditBlock">
        <div><label for="update-description">Enter new description</label>
        <input type="text" id="update-description"></div>
        <div><label for="update-deadline">Enter new deadline</label>
        <input type="date" id="update-deadline">
        <button class="ready-edit-button" (click)="updateProject()">Update</button>
    </div>
</div>