<div class="team-content">
    <h3>{{team.name}}</h3>
    <div class="team-details">
        <span>Name:{{team.name}}</span><hr>
        <p>Created at:{{team.createdAt! | ukraineDate}}</p>
    </div>
    <button (click)="editTeam()">Edit team</button>
    <div class="edit-team" *ngIf="!this.hideEditBlock">
        <div><label for="update-name">Enter new name</label>
        <input type="text" id="update-name"></div>
        <button class="ready-edit-button" (click)="updateTeam()">Update</button>
    </div>
</div>
